body{
    background-color:white;
}
#calc_body{
    width: 400px;
    margin: 15px;
    margin-left: 25%;
    margin-right: 25%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 5px;
    box-shadow: 0px 4px 28px 10px rgba(212, 233, 223, 0.933); 
     /* shadow offset(x,y) axis = 0px(x) 4px() blur radius(4px) spread radius(10px) color */
}
#calc_screen{
    padding: 15px;
    border: solid 1px burlywood;
    font-size: 1.5em;
    font-style: italic;
    text-align: right;
    border-radius: 5px;
    align-items: center;
}
#calc_button_area{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.buttons{
    width: 45px;
    height: 20px;
    padding: 20px;
    background-color: white;
    color: black;
    margin: 5px 5px ;
    text-align: center;
    border: solid 1px burlywood;
    border-radius: 15px;
}
.buttons:hover{
    background-color: silver;
    cursor: pointer;
}
#colored_button{
    color: rgb(19, 19, 223);
}
#equal_button:hover{
    background-color: rgb(109, 109, 184);
    color: white;
    border: none;
    cursor: pointer;
}
#equal_button{
    background-color: rgb(19, 19, 223);
    color: white;
    border: none;
}